@use "../../styles/colors" as color;

.button {
  border: none;
  background-color: color.$Secondary;
  font-size: 1.25rem;

  &:hover {
    background-color: color.$Accent;
  }

}

.smallCircle {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;

  &:hover {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.bigCircle {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;

  &:hover {
    height: 5.5rem;
    width: 5.5rem;
  }
}

.buttonMenu {
  border-radius: 10px;
  width: 15rem;
  height: 2.25rem;
  transition: all 0.5s;



  &:hover {
    width: 15.5rem;
    height: 2.75rem;
  }
}