@use "./fonts" as font;
@use "./colors" as color;

body {
    background-color: color.$Background;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: font.$Font-Family;
}