@use "../../styles/colors" as color;

.header-menu,
.header-game-view {
  display: flex;
  height: 10rem;
  margin-top: 1rem;

  h2 {
    color: color.$Text;
  }
}

.header-game-view {
  width: 100%;
  justify-content: center;

  .left-header,
  .right-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h2 {
      font-size: 3.25rem;
    }
  }

  .left-header {
    width: 50%;
    .button-section {
      width: 10%;
    }
  }

  .right-header {
    width: 50%;
    .life-bar.life-changed{
      animation: loseLife 0.2s;
    }
    .life-bar {
      width: 20rem;
      height: 2rem;
      background-color: color.$Primary;
      display: flex;
      justify-content: center;
      border-radius: 20px;
      .progress {
        border-radius: 20px;
        text-align: center;
        color: color.$Text;
        background-color: color.$Accent;
        height: 100%;
        transition: width 0.5s;
      }


    }
    .heart-section{
      width: 10%;
      h2{
        text-align: center;
        transition: all 0.1s;
      }
      .life-changed{
        font-size: 5rem;
      }

      @keyframes loseLife {
        100% {
          width: 22rem;
          height: 3rem;
        }
      }
    }
  }
}

.header-menu {
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .button-section {
    height: 90%;
  }
  .title-section {
    h2 {
      font-size: 2rem;
    }
  }
}
