@use "../../styles/colors" as color;

.Keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 80rem;
    max-height: max-content;
    cursor: pointer;

    .key-box {
        background-color: color.$Primary;
        width: 5rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        transition: all 0.8s;
        color: color.$Text;
        font-size: 2rem;


        &:hover {
            background-color: color.$Third;
            height: 6.5rem;
            width: 5.5rem;
        }


    }

    .clicked {
        background-color: gray;
        width: 5rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        color: color.$Text;
        font-size: 2rem;
    }


}